<p id="notice"><%= notice %></p>

<h1>Imports</h1>

<table>
  <thead>
    <tr>
      <th>Total imports</th>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.total_imports %></td>
        <td><%= import.total_price %></td>
        <td><%= link_to 'Show', import %></td>       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import', new_import_path %>
