<p id="notice"><%= notice %></p>

<p>
  <strong>Total imports:</strong>
  <%= @import.total_imports %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @import.total_price %>
</p>

<h1>Vendas importadas</h1>

<table>
  <thead>
    <tr>
      <th>Comprador</th>
      <th>Descricao</th>
      <th>Preco unitario</th>
      <th>Quantidade</th>
      <th>Endereco</th>
      <th>Fornecedor</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.comprador %></td>
        <td><%= venda.descricao %></td>
        <td><%= venda.preco_unitario %></td>
        <td><%= venda.quantidade %></td>
        <td><%= venda.endereco %></td>
        <td><%= venda.fornecedor %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', imports_path %>
